<p class="error-handler" :class="{ visible: setup.errorMessage }">{{ setup.errorMessage || setup.t.errorHandler }}</p>

<div class="progress-row">
  <div class="progress-dots">
    <span v-for="n in setup.totalDots" :key="n" class="dot" :class="{ active: n <= setup.step }"></span>
  </div>
  <p class="progress-label text-underline">{{ setup.stepLabels[setup.step - 1] }}</p>
</div>

<footer class="card-footer">
  <button type="button" class="btn btn-prev" :disabled="setup.step <= 1" @click="setup.prevStep" @mousedown="setup.buttonClick" @mouseup="setup.buttonRelease" @mouseleave="setup.buttonRelease">{{ setup.t.previous }}</button>
  <button type="button" class="btn btn-next" :disabled="setup.authLoading" @click="setup.nextStep" @mousedown="setup.buttonClick" @mouseup="setup.buttonRelease" @mouseleave="setup.buttonRelease">{{ setup.step >= setup.totalSteps ? setup.t.finish : setup.t.next }}</button>
</footer>
