<div class="circuit-bg" aria-hidden="true">
  <svg class="circuit-svg" viewBox="0 0 1200 900" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="200" cy="120" r="5" class="node"/>
    <circle cx="1000" cy="100" r="5" class="node"/>
    <circle cx="1050" cy="280" r="5" class="node"/>
    <circle cx="150" cy="380" r="5" class="node"/>
    <circle cx="1100" cy="450" r="5" class="node"/>
    <circle cx="80" cy="600" r="5" class="node"/>
    <circle cx="1050" cy="720" r="5" class="node"/>
    <circle cx="220" cy="800" r="5" class="node"/>
    <circle cx="600" cy="80" r="5" class="node"/>
    <circle cx="580" cy="820" r="5" class="node"/>
    <path d="M 380 200 L 200 200 L 200 120" class="line"/>
    <path d="M 820 200 L 1000 200 L 1000 100" class="line"/>
    <path d="M 820 350 L 1000 350 L 1050 280" class="line"/>
    <path d="M 380 450 L 200 450 L 150 380" class="line"/>
    <path d="M 820 500 L 1050 500 L 1100 450" class="line"/>
    <path d="M 400 650 L 150 650 L 80 600" class="line"/>
    <path d="M 800 700 L 1000 700 L 1050 720" class="line"/>
    <path d="M 400 750 L 280 750 L 220 800" class="line"/>
    <path d="M 600 250 L 600 80" class="line"/>
    <path d="M 600 650 L 600 820" class="line"/>
    <path d="M 380 320 L 280 320 L 280 380" class="line"/>
    <path d="M 820 320 L 920 320 L 920 400" class="line"/>
  </svg>
</div>
